
/*---------------------------------------- Parte do Estilo -------------------------------------------*/
/*Pallete Color */

#001234
#FFD200                                                                                
#45E555
/* Reset CSS para remover estilos padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    padding: 0px;
    margin: 0px;
}

li{
    list-style: none;
    font-size: 15px;
}

a {
    
    text-decoration: none;
}


/* Estilos gerais */
body {
    font-family: "Ubuntu", Georgia, serif;
    background-color: #cfc8c8;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
    gap: 8px;
    display: grid;

}

.side-nav ul li{
    font-family: "ubuntu";
    font-size: 15px;
}

.side-nav a {
    display: block;
    color: (0, 0, 0, 0.1);
    border-radius: 5px;    
    font-size: 30px;
    transition: 0.1;
}

.side-nav a:hover{
    background: tomato ;
    transition: 0.5;
}


.d-flex{
    display: flex;
    justify-content: center;
}

.d-flex input[type="search"] {
    max-width: 300px; /* Define o valor máximo */
    
}
/* Estilos para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
}

header h1 {
    font-size: 2em;
}

/* Estilos para a navegação */



/* Estilos para o conteúdo */
section {
    padding: 20px;
}

footer {
    
    background-color: #001234 ;
    text-align: center;
    color: #FEB900;
}


/*--------------------------------------- Parte do Grid e Flexbox-----------------------------------------*/

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
 /* Isso faz com que o conteúdo ocupe pelo menos toda a altura da viewport */
}

.content {
    flex: 1; /* O conteúdo se expandirá para preencher o espaço restante */
}

footer {
    
    padding: 20px 0;
    width: 100%;
    bottom: 0;
}


.header {
    background-color: #001234;
    color: #fff;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000; /* Isso garante que o header fique sobre outros elementos */

}

.content {
    margin-top: 80px; /* Ajuste esse valor para corresponder à altura do seu header */
    /* O restante do seu estilo de conteúdo */
}

/*------------------------------ Parte de interacao do Bootstrap --------------*/
#HomeTitle {
        font-size: 50px;
        color: #FEB900;
        font-family: "Ubuntu",Arial, Helvetica, sans-serif;
}

.header-menu {

    background-color: #001234; 
    list-style-type: none;
    padding: 0;
    margin: 0;
/* Fundo de cor da div "header-menu" alterado para a cor padrão do header */
}

.grid-list {
    list-style-type: none; /* Remove os pontos */
    padding: 0; 
    margin: 0; 

  }


.side-nav{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20 px;
    list-style: color #000000;
    font: Arial;
    background-color: #ffaa00;

}

.side-nav ul {
    color: #030303;
    list-style-type: none;
    width: 100%;
    padding: 95px;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    display: flex; /* Use flexbox para exibir os itens em uma linha */
    flex-wrap: wrap; /* Permita que os itens sejam quebrados em várias linhas se necessário */
}

.side-nav li {
    margin-right: 10px; /* Espaçamento entre os itens */
}

.side-nav li:last-child {
    margin-right: 0; /* Remover o espaçamento direito do último item */
}

.side-nav li a {
    display: block; /* Transformar os links em elementos de bloco */
    color: #850808; /* Cor do texto */
    text-decoration: none; /* Remover sublinhado do texto */
} 


.grid-template-columns-1{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr
    
}

/* produtros */

.estoque {
    color: green;
}

.valor1 {
    color: blue;
}

.valor2 {
    color: green;
}

.estrela {
    color: yellow;
}

.comprar {
    color: green;
}

/*------------------------------------- Itens do Bootstrap -----------------------------------------*/

#iframelogin{
    background-color: transparent;
    width: 30px;
    height: 200px;
    position: fixed;
    top: 40px;
    left: 950px;
    border: none;
}

#iframecarrinho{
    margin-left: -130px;
    background-color: transparent;
    width: 30px;
    height: 200px;
    position: fixed;
    top: 40px;
    left: 200px;
    border: none;
}